:root {
  --brown: #786450;
  --blue: #5f98cd;
  --blue-dark: #264057;
  --blue-light: #b2daff;
  --drop-color: #7fc1f9;
  --red: #ec6565;
  --green: #37d493;
  --gray: #444;
  --e-width: 420px;
  --e-w-offset: -10px;
  --e-height: 400px;
  --speed: 0.7s;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.op-5 {
  opacity: 0.5;
  transform: scale(0.9);
}

.op-5:hover {
  opacity: 0.7;
  transform: scale(0.95);
}
